.container {
  padding: 1.5rem;
  height: 40vh;
}

.addbook-title {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.addbook-layout {
  display: flex;
  gap: 2rem;
}

.addbook-sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
  border-right: 2px solid black;
}

.addbook-content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}