.addBook-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
}

.addbook-title-mode-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0 2rem 0;
  gap: 2rem;
}

.addbook-mode-button-container {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}

.addbook-mode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addbook-form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 1.3rem;
}

.addbook-form-input-container {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.form-input-label {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}

.form-input-input {
  width: 60%;
}

.checkbox-group {
  display: flex;
  gap: 1rem;
}