.book-shelf-container {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  margin-bottom: 8px;
}

.book-details-shelf-container {
  display: flex;
  align-self: flex-end;
  width: auto;

  height: 15rem;
}

.book-library-popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.book-library-container {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.book-pick-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-current-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
}

.book-current-title {
  text-align: center;
  font-size: 0.9rem;
}